// Font
$dosis: 'Dosis',
sans-serif;
$lato: 'Lato',
sans-serif;
$lobster: 'Lobster',
cursive;
$lobsteregular: 'Lobsteregular',
cursive;
$poppins: 'Poppins',
sans-serif;
$poppinsbold: 'Poppinsb',
sans-serif;
$poppinslight: 'poppinslight',
sans-serif;
$poppinsmedium: 'poppinsmedium',
sans-serif;
$PoppinsSemiBold: 'PoppinsSemiBold',
sans-serif;
$latoregular: 'Latoregular',
sans-serif;

//Color
$background: #1000FF;
$mauve: #7e76f9;
$blanche:#e4e5e7;